<%- include("partials/_header") -%>

<body>
  <%- include("partials/_navbar") -%>
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(let i = 0 ; i < posts.length ; i++) { %>
          <div class="post-preview">
            <a href= "/posts/<%=posts[i]._id %>" >
              <h2 class="post-title">
                <%= posts[i].title %>
              </h2>
              <h3 class="post-subtitle">
                <%= posts[i].detail %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= posts[i].dateCreated %></p>
          </div>
          <hr>
          <% } %>
          <% if(pages > 0) { %>
            <ul class="nav tm-paging-links">
              <% for(i = 1; i <= pages ;i++) { %>
                <% if(i == currentPage){ %>
                    <li class="nav-item"> <a href="/?page=<%= i %>" class="nav-link tm-paging-link active">  <%= i %> </a> </li>
                <% } else { %>
                    <li class="nav-item"> <a href="/?page=<%= i %>" class="nav-link tm-paging-link">  <%= i %> </a> </li>
                <% } %>
              <% } %>
            </ul>
          <% } %>
      </div>
    </div>
  </div>

  <hr>
  <%- include("partials/_footer") -%>
</body>

</html>
